<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.telegram"
    android:installLocation="auto">

    <application
        android:name="org.telegram.messenger.ApplicationLoader"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/AppName"
        android:largeHeap="true"
        android:theme="@style/Theme.TMessages.Start">

    </application>

</manifest>
